<main>
  <% @videos.each do |video| %>
  <article>
    <h4><%= link_to video.title, video.youtube_link %></h4>
    <iframe class="video-embed" width="560" height="315" src=<%= video.embed_link %> frameborder="0" allowfullscreen></iframe>
  </article>
  <% end %>
</main>
